#
# This is a Packrat control file, determining how to package and build Packrat itself.
#
Name: Packrat
Version: 0.1
Author: Vidar Hokstad <vidar@hokstad.com>
AppDir: App
Requires:
	C:lha
Recommends:
BuildRequires: 
Provides:
Files: App, !*.git, !*~
# OR:
#  App
#  !*.git
#  !*~

%%build
cd src/
make install    # Comments are retained in '%%' sections

